[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pygithub = "*"
thoth-storages = "*"
semver = "*"
voluptuous = "*"
matplotlib = "*"
tqdm = "*"
pydriller = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "==2.15.0"
twine = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.8"
