[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
numpy = "*"
pandas = "*"
pygithub = "*"
thoth-storages = "*"
semver = "*"
voluptuous = "*"
matplotlib = "*"


[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "*"
twine = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.8"
