[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pygithub = "*"
matplotlib = "*"
pandas = "*"
thoth-storages = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
twine = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.6"
